// variables, mixins, resets...
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open sans', Helvetica, sans-serif;
  line-height: 1.5;
}

//Variables

$bright-blue: rgb(0, 111, 207);
$light-grey: rgba(217, 217, 214, 0.3);

@mixin desktop {
  @media screen and(min-width:800px) {
    @content;
  }
}

@mixin button_template {
  width: 150px;
  height: 50px;
  font-size: 1rem;
  font-weight: 200;
  border-radius: 50px;
  border: none;
}
